button {
    cursor: pointer;
    background-color: whitesmoke;
    color: $big-black;
    border-radius: 30px;
    border: none;
    height: 25px;
    &:hover {
    background-color: $big-blue;

    }
}