$big-blue: #76c2af;
$big-black: #050a09;
$big-lightblack: #1a1818;
$big-darkblack: #000000;
$big-red: #c27689;
$big-darkred: #833b3f;
$big-lightgray: #796f72;
$big-darkgray: #242222;
$big-purple: #a76fa4;
$big-darkpurple: #3f2657;
$big-darkblue: #1a3453;
$big-darkblue-hover: #2c4058;

