form {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 260px;
	justify-content: space-around;

	label {
		display: flex;
		flex-direction: column;
        height: 78px;
        justify-content: space-around;
        font-weight: 500;
        padding-bottom: 15px;

		input {
            height: 30px;
			border: 1px solid $big-darkgray;
		}
	}

	button {
		align-self: flex-end;
        transition: background-color 0.3s ease;
        background-color: $big-black;
		height: 50px;
		width: 50%;
        border-radius: 30px;
        font-size: large;
        color: whitesmoke;

		&:hover {
			cursor: pointer;
			background-color: $big-blue;
		}
	}
}
