header {
	position: relative;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: $big-black;
	font-weight: 500;
	font-size: 30px;
	color: $big-blue;

	a {
		text-decoration: none;
		color: $big-blue;
	}

	h1 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 299px;
		margin-left: 10px;
		padding: 10px;

		#picture-logo {
			display: flex;
			justify-content: center;
			width: 61px;
			shape-outside: circle();
			clip-path: circle();
		}

		img {
			width: 61px;

			&:hover {
				cursor: pointer;
			}
		}
	}

	// .header-buttons {
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: space-evenly;
	// 	margin-right: 60px;
	// 	width: 280px;
	// 	border-radius: 20px;

	// 	a {
	// 		text-decoration: none;
	// 		button {
	// 			font-weight: 500;
	// 			font-size: medium;
	// 			display: flex;
	// 			justify-content: center;
	// 			align-items: center;

	// 			background-color: whitesmoke;
	// 			transition: background-color 0.3s ease;
	// 			padding: 10px;
	// 			&:hover {
	// 				background-color: $big-blue;
	// 			}
	// 		}
	// 	}
	// }
}
