.list-with-picture {
	height: fit-content;
	width: 100%;
	padding: 0 40px;

	.searched-songs-list {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;

		.searched-song {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			height: 50px;
			width: 100%;
			margin-bottom: 5px;
			border-radius: 3px;

			&:hover {
				background-color: #e9e9e936;
				cursor: default;
			}

			.song-img {
				height: 40px;
				width: 40px;
				margin-left: 10px;
				margin-right: 10px;
			}

			.song-info {
				width: 90%;
				margin-top: 0px;
				display: flex;
				flex-direction: column;

				.title {
					font-size: 14px;
					font-weight: 600;
				}

				.artist {
					margin-top: 5px;
					font-size: 12px;
					font-weight: 400;
				}
			}

			&:hover #not-liked {
				display: block;
			}

			.more-song-actions-container {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 20px;
				height: inherit;
				right: 50px;
	
				.more-song-actions-btn {
					color: whitesmoke;
					font-size: 19px;
					display: none;

					&:hover {
						color: $blue-heart;
					}
				}	
			}

			&:hover .more-song-actions-btn {
				display: block;
			}
		}
	}

	#like-btn-container-margin-top {
		margin-top: 0px;
	}

	.list-ul {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;

		.li-background {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			height: 270px;
			width: 210px;
			background-color: #262525;
			border-radius: 5px;
			margin-right: 25px;
			margin-bottom: 20px;
			transition: 0.3s;

			.list-img {
				align-self: center;
				border-radius: 5px;
				height: 180px;
				width: 180px;
				box-shadow: 0px 0px 9px 2px #0000004d;
				transition: 0.3s;
			}

			.artist-img {
				border-radius: 100px;
				margin-bottom: 10px;
			}

			.song-img {
				height: 20px;
				width: 20px;
			}

			.list-name {
				font-size: 15px;
				font-weight: 600;
				margin-top: 10px;
				margin-left: 20px;
			}

			.list-artist {
				font-size: 12px;
				font-weight: 500;
				margin-top: 10px;
				margin-left: 20px;
			}

			&:hover {
				background-color: #e9e9e936;
				cursor: default;
			}

			&:hover .list-img {
				box-shadow: 3px 1px 14px 8px #0000004d;
			}
		}
	}
}

.like-btn-container {
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.like-song-btn {
		margin-right: 40px;

		&:hover {
			cursor: default;
		}
	}

	#liked {
		color: $blue-heart;
		height: 18px;

		&:hover {
			cursor: default;
		}
	}
	
	#not-liked {
		stroke: whitesmoke;
		display: none;
	}
}
