.main-show-page {
	background: linear-gradient(360deg, $big-lightblack 80%, $big-darkpurple);
	height: 3000px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-bottom: 100px;
	color: whitesmoke;
	margin-left: 175px;
	padding-top: 150px;
	position: relative;

	// home screen
	.home-screen {
		h1 {
			position: fixed;
			top: 19px;
			padding-left: 19px;
			font-weight: 500;
			font-size: 25px;
		}

	}

}