.main-show-page {
	background: linear-gradient(358deg, #1a1515 60%, $big-darkpurple);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 100px;
	padding-top: 50px;
	color: whitesmoke;

}