.modal-background {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 5;

	.playlist-more-info-modal {
		position: absolute;
		width: 160px;
		border-radius: 5px;
		background-color: $big-lightgray;
		z-index: 5;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		top: 50px;
		right: 43px;
		height: 70px;

		button {
			width: 100%;
			background-color: $big-lightgray;
			color: whitesmoke;
			padding: 7px;
			height: 35px;
			border-radius: 0;

			&:hover {
				color: whitesmoke;
				cursor: pointer;
				background-color: whitesmoke;
			}
		}
	}

	.header-modal {
		position: absolute;
		z-index: 5;
		top: 50px;
		right: 43px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 200px;
		height: 80px;
		background-color: $big-lightblack;
		border-radius: 4px;
		border: 0.5px solid $big-black;

		#logout-link,
		#profile-link {
			background-color: $big-lightblack;
			color: whitesmoke;
			padding: 7px;
			height: 35px;
			border-radius: 4px;
			margin: 5px 5px 5px 5px;

			&:hover {
				color: whitesmoke;
				cursor: pointer;
				background-color: rgba(151, 150, 150, 0.767);
			}
		}

		#profile-link {
			margin-bottom: 0px;
		}

		#logout-link {
			margin-top: 0px;
		}
	}

	.edit-playlist-modal {
		position: absolute;
		width: 550px;
		height: 350px;
		border-radius: 5px;
		background-color: $big-darkgray;
		z-index: 5;
		display: flex;
		flex-direction: column;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.edit-playlist-modal-header {
			font-weight: 500;
			font-size: 23px;
			height: 90px;
			display: flex;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
			justify-content: space-between;
			align-items: center;
			color: whitesmoke;

			svg {
				border-radius: 50px;
				padding: 8px;

				&:hover {
					background-color: $big-lightgray;
				}
			}
		}

		.playlist-modal-info-section {
			padding-top: 10px;
			display: flex;
			padding-right: 15px;
			padding-left: 15px;
			height: 220px;

			.modal-picture {
				height: 160px;
				width: 160px;
				color: whitesmoke;
				background-color: $big-lightblack;
				margin-right: 12px;
				transition: 1s;

				&:hover {
					animation: rotation 5s infinite linear;
					border-radius: 100px;
				}
			}

			@keyframes rotation {
				from {
				  transform: rotate(0deg);
				}
				to {
				  transform: rotate(359deg);
				}
			}

			div {
				height: 100%;
				width: 100%;
			}

			form {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				height: 100%;
				width: 62%;

				button {
					border-radius: 50px;
					width: 100px;
					height: 33px;
					color: $big-black;
					background-color: whitesmoke;
					font-size: 15px;
					font-weight: 500;

					&:hover {
						width: 102px;
						height: 35px;
						margin: -1px;
					}
				}

				#save-disabled-true {
					background-color: $big-lightgray;

					&:hover {
						background-color: $big-lightgray;
						color: whitesmoke;
						cursor: default;
					}
				}

				#large-emoji-container {
					position: absolute;
					top: 0%;
					left: 103%;
					height: 500px;
					width: 82%;
					border-radius: 10px;
					background-color: $big-lightgray;

					li {
						padding: 10px;
						height: 60px;
						width: 60px;
						font-size: 30px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 3px;

						&:active {
							background-color: $blue-heart-solid;
						}

						&:hover {
							background-color: $blue-heart-hover;
							cursor: default;
						}
					}
				}

				.emoji-container {
					height: 120px;
					width: 100%;
					border-radius: 5px;
					background-color: $big-lightgray;
					margin-top: 5px;
					border-bottom-left-radius: 0px;

					.emoji-list {
						padding: 7px;
						height: 100%;
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						overflow-y: scroll;

						&::-webkit-scrollbar {
							width: 12px;
						}

						&::-webkit-scrollbar-thumb {
							border-radius: 5px;
							background-color: rgba(54, 54, 54, 0.8);
						}

						&::-webkit-scrollbar-track-piece {
							background-color: $big-lightgray;
							border-radius: 5px;
						}

						li {
							padding: 10px;
							height: 30px;
							width: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 3px;

							&:hover {
								background-color: $blue-heart-hover;
								cursor: default;
							}
						}
					}
				}

				div {
					background-color: $big-lightgray;
					height: 40px;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 5px;

					input {
						background-color: transparent;
						padding: 5px 5px 5px 10px;
						height: 25px;
						width: 100%;
						color: whitesmoke;
						outline: none;
						border: none;
					}
				}

				#expand-emojis {
					margin-top: -1px;
					align-self: flex-start;
					width: 80px;
					height: 25px;
					transition: 0.3s;
					padding: 10px;
					background-color: $big-lightgray;
					font-weight: 500;
					font-size: 15px;
					border-top-left-radius: 0px;

					&:hover {
						cursor: pointer;
						background-color: $blue-heart-hover;
					}
				}
			}
		}
	}
}

#darken-background {
	background-color: rgba(0, 0, 0, 0.7);
}
