.signup-cont,
.login-cont {
	z-index: 2;
	position: fixed;
    top: 80px;

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	background: $big-red;
	background: linear-gradient(178deg, $big-red 0%, $big-darkred 70%, $big-black 120%);
	h2 {
		text-align: center;
		margin-top: 150px;
		font-weight: 500;
	}

	

	h4 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 45px;
		font-weight: 500;

		div {
			display: flex;
			justify-content: center;

			p {
				padding: 7px;
				margin: 7px;
			}
			
		}
	}

	.form-errors {
		color: #ffffff;
		background-color: rgba(255, 28, 28, 0.534);
		height: 25px;
	}

	.no-form-errors {
		background-color: $big-red;
	}
}
.selected {
	width: fit-content;
	display: inline;
	color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 3px;
	padding: 1px 3px;

	&:hover {
		cursor: pointer;
		color: $big-blue;
		border: 1px solid $big-blue;
	}
}

.username, .email {
	background-color: $big-blue;
	color: $big-black;
	border-color: $big-black;

	&:hover {
		color: whitesmoke;
		border: 1px solid whitesmoke;
	}
}