.signup-page,
.login-page {
	position: relative;
	display: grid;
	grid-template-rows: 56px 135px 59px 360px;
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	
	

	.register-methods {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-row-start: 2;
		height: 103px;
		width: 400px;

		button,
		a {
			height: 40px;
			width: 100%;
			border-radius: 30px;
			background-color: $big-blue;
			transition: background-color 0.3s ease;
			color: $big-darkblack;
			font-size: large;
			
			&:hover {
				background-color: $big-darkblue;
				color: whitesmoke;
				border-color: whitesmoke;
			}
		}

		.demo-user {
			background-color: $big-black;
			transition: background-color 0.3s ease;
			color: whitesmoke;
			
		}
	}

	.signup-or {
		grid-row-start: 3;
		display: flex;
		justify-content: center;
		padding: 7px;
		width: 400px;
		border-bottom: 1px solid $big-darkgray;
	}

	.login-cont,
	.signup-cont {
		height: 300px;
		grid-row-start: 4;
		border-bottom: 1px solid $big-darkgray;
		margin-top: -37px;

		h2 {
			text-align: center;
			font-weight: 500;
			padding-bottom: 10px;
		}
	}

	h4 {
		display: flex;
		align-self: center;
		align-items: center;
		justify-content: space-around;
		height: 45px;
		font-weight: 500;
		width: 210px;

		p {
			padding: 7px;
			margin: 7px;
		}
	}

	.form-errors {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $big-black;
		background-color: rgb(211, 16, 16);
		height: 30px;
		border-radius: 10px;
		margin-bottom: 8px;
	}

	.none {
		background-color: transparent;
	}
}

.selected {
	width: fit-content;
	color: whitesmoke;
	border-radius: 3px;
	padding: 1px 3px;
	border: 1px solid transparent;

	&:hover {
		cursor: pointer;
		color: $big-darkblue-hover;
		border: 1px solid $big-darkblue-hover;
	}
}

.username,
.email {
	color: $big-blue;
	border: 1px solid $big-blue;
	margin: 0;
	&:hover {
		background-color: $big-blue;
		color: whitesmoke;
		border-color: whitesmoke;
	}
}

#bck-color {
	height: 100%;
	background: linear-gradient(178deg, #b8b8b8 -6%, #8b6e6e 39%, $big-darkblack 100%);
}