.song-playback-bar {
	width: 100%;
	z-index: 1;
	display: grid;
	grid-template-columns: 250px auto 230px;
	height: 100px;
	bottom: 0;
	left: 0;
	position: fixed;

	.song-info {
		background-color: $big-lightblack;
		border-top: 0.5px solid gray;
		z-index: 2;
		padding-top: 25px;
		padding-left: 17px;
		display: flex;

		.expand-album-cover {
			position: fixed;
			left: 45px;
			bottom: 45px;
			border-radius: 20px;
			transform: rotate(-90deg);
			display: none;
			opacity: 0.7;
			color: $big-lightgray;
			background-color: rgb(12, 12, 12);
			height: 23px;
			width: 23px;

			&:hover {
				opacity: 0.9;
				height: 25px;
				width: 25px;
			}
		}

		#playback-bar-album-cover {
			box-shadow: 0px 0px 9px 2px #0000004d;
			height: 56px;
			width: 56px;
		}

		div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 15px;
			padding-bottom: 15px;

			#playback-bar-song-title {
				padding-bottom: 3px;
			}

			#playback-bar-artist-name {
				font-size: 12px;
				color: rgb(187, 183, 183);
			}
		}

		&:hover .expand-album-cover {
			display: block;
		}
	}

	.song-controls {
		background-color: $big-lightblack;
		border-top: 0.5px solid gray;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.controls-btns {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 120px;
			height: 40px;
			position: fixed;
			bottom: 45px;

			.shuffle-btn {
				color: rgba(228, 228, 228, 0.822);

				&:hover {
					color: white;
				}
			}

			.shuffle-on {
				color: #1db954;

				&:hover {
					color: #00852e;
				}
			}

			.play-pause {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: whitesmoke;
				border-radius: 50px;
				padding: 8px;

				&:hover {
					padding: 9px;
				}
			}

			.skip-prev-btn {
				color: rgba(228, 228, 228, 0.822);
				
				&:hover {
					color: white;
				}
			}

			.prev-track {
				transform: rotate(180deg);
			}
		}

		#progress-info {
			position: fixed;
			bottom: 20px;
			display: flex;
			width: 640px;
			align-items: center;
			font-size: 12px;
			justify-content: center;

			#progress-control {
				-webkit-appearance: none;
				height: 4px;
				width: 500px;
				margin-left: 10px;
				margin-right: 10px;
				background-color: rgb(168, 168, 168);
				border-radius: 8px;

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					border-radius: 20px;
					height: 15px;
					width: 15px;
					background-color: whitesmoke;
				}
			}

			#progress-bar-circle {
				margin-right: -3px;
				height: 15px;
				width: 15px;
				background-color: whitesmoke;
				display: none;
				shape-outside: circle();
				clip-path: circle();
			}

			#progress-bar-container {
				display: flex;
				background-color: $big-lightgray;
				border-radius: 8px;
				height: 4px;
				width: 550px;
				margin-left: 5px;
				margin-right: 9px;

				&:hover #progress-bar {
					background-color: $blue-heart;
				}

				&:hover #progress-bar-circle {
					display: block;
				}
			}
		}

		h4 {
			width: 37px;
		}
	}

	.volume-and-queue {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $big-lightblack;
		border-top: 0.5px solid gray;
		z-index: 2;
		padding-right: 40px;

		#volume-icon {
			color: rgb(168, 168, 168);

			&:hover {
				color: whitesmoke;
			}
		}

		#volume-control {
			-webkit-appearance: none;
			height: 4px;
			background-color: rgb(168, 168, 168);
			border-radius: 8px;

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				border-radius: 20px;
				height: 15px;
				width: 15px;
				background-color: whitesmoke;
			}
		}

		.queue-btn {
			background-color: transparent;
			border: none;
			color: rgb(168, 168, 168);

			&:hover {
				color: whitesmoke;
			}
		}

		.active-green {
			color: #1db954;

			&:hover {
				color: #00852e;
			}
		}
	}
}
