.song-playback-bar {
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: 175px 60% auto;
    height: 100px;
    bottom: 0;
    left: 0;
    position: fixed;

    .blue {
        background-color: $big-lightblack;
        border-top: .5px solid gray;
        z-index: 2;
    }

    .red {
        background-color: $big-lightblack;
        border-top: .5px solid gray;
        z-index: 2;
    }

    .green {
        background-color: $big-lightblack;
        border-top: .5px solid gray;
        z-index: 2;
    }
}

