.user-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
	right: 0;
	left: 175px;
	position: fixed;
	z-index: 3;
	background: transparent;

	.path-arrows {
		width: 100px;
		display: flex;
		margin-left: 40px;
	}

	svg {
		padding: 6px;
		border-radius: 3px;
		background-color: #282828;
		border: 0.3px solid $big-darkblack;
		transition: background-color 0.3s ease;
		margin-right: 40px;
		border-radius: 50px;

		&:hover {
			cursor: pointer;
			color: $big-black;
			background-color: $big-lightgray;
		}
	}

	.path-back , .path-forward{
		border: none;
		margin-right: 0px;
	}

	.path-back {
		transform: rotate(180deg);
	}

	.path-forward {
		margin-left: 10px;
	}

	.profile-closed {
		display: none;
	}

	.profile-open {
		display: block;
	}

	.header-dropdown,
	#more-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: fixed;
		top: 50px;
		right: 43px;
		width: 200px;
		border-radius: 30px;
		height: 70px;

		&:first-child {
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}

		&:last-child {
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}

		button {
			width: 100%;
			background-color: $big-darkgray;
			color: whitesmoke;
			padding: 7px;
			height: 35px;
			border-radius: 0;

			&:hover {
				color: whitesmoke;
				cursor: pointer;
				background-color: $big-lightgray;
			}
		}
	}
}
